<nav class="navbar navbar-expand-lg navbar-light bg-white ">
  <a class="navbar-brand ml-5" routerLink="/">
    <img src="../assets/imagens/beauty-logotipo.jpg" width="100"  class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
          aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav ml-auto mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Empresas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Serviços</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="#">Contatos</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mr-auto">
      <li class="nav-item active">
        <a class="nav-link font-num "> +55(11)5555-5555 </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <!--## Col  Texto ##-->
    <div class="col-12 col-sm-6 col-lg-6">
      <div class="single-features-area mb-100 wow fadeInUp" data-wow-delay="100ms">
        <!--## Section Heading ##-->
        <div class="section-heading-s mb-0">
          <div class="line mt-5"></div>
          <p>Lorem ipsum tempus</p>
          <h2>Lorem ipsum</h2>
        </div>
        <div class="single-features-area mb-100 wow fadeInUp" data-wow-delay="300ms">
          <h5 class="font-p">Lorem ipsum tempus</h5>
        </div>
        <h6 class="font-p">Lorem ipsum tempus placerat leo quam neque torquent pulvinar at lacus curae himenaeos, eu nisi luctus dui ut ultrices vivamus.</h6>
        <a href="#" class="btn credit-btn mt-2 mb-3 animated flash delay-2s">Saiba Mais</a>
      </div>
    </div>
    <!--## Col Slid ##-->
    <div class="col-12 col-sm-6 col-lg-6">
      <div id="carousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner mt-2">
          <!--## SLid-1 ##-->
          <div class="carousel-item animated fadeInUp delay-1s active">
            <img class="d-block w-100 h-100 bg-img" src="../assets/imagens/image12.jpg" alt="Primeiro Slide">
          </div>
          <!--## SLid-2 ##-->
          <div class="carousel-item animated fadeInUp delay-1s ">
            <img class="d-block w-100 h-100" src="../assets/imagens/image11.jpg" alt="Segundo Slide">
          </div>
          <!--## SLid-3 ##-->
          <div class="carousel-item animated fadeInUp  delay-1s ">
            <img class="d-block w-100 h-100" src="../assets/imagens/image15.jpg" alt="Terceiro Slide">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="section-saiba">
  <div class="row shadow-sm">
    <div class="col-md-12 text-center">
      <img class="w-25" src="../assets/imagens/image10b.jpg">
      <span class="ml-5">a maximus nunc fermentum imperdiet</span>
    </div>

  </div>
</section>
<section class="section-padding bg-light">
  <div class="container">
    <div class="row">
     <div class="col-md-4 mb-3  align-content-center">
     <!--## Card 1 ##-->
       <div class="card shadow ml-6" style="width: 18rem;">
         <div class="card-body">
           <div class="row">
             <div class="col-md-6">
               <img class="w-100" src="../assets/imagens/img1.png">
             </div>
             <div class="col-md-6">
               <div class="line mt-1"></div>
               <h5 class="card-title">Lorem ipsum</h5>
             </div>
           </div>
           <div class="row">
             <div class="col-md-12">
               <h6 class="card-subtitle  mt-3 mb-2 text-muted">Donec vitae viverra leo</h6>
               <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o
                 conteúdo do card.</p>
               <a href="#" class="card-link">Saiba Mais </a>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="col-md-4 mb-3">
     <!--## Card 2 ##-->
       <div class="card shadow ml-6" style="width: 18rem;">
         <div class="card-body">
           <div class="row">
             <div class="col-md-6">
               <img class="w-100" src="../assets/imagens/img2.png">
             </div>
             <div class="col-md-6">
               <div class="line mt-1"></div>
               <h5 class="card-title">Lorem ipsum</h5>
             </div>
           </div>
           <div class="row">
             <div class="col-md-12">
               <h6 class="card-subtitle  mt-3 mb-2 text-muted">Donec vitae viverra leo</h6>
               <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o
                 conteúdo do card.</p>
               <a href="#" class="card-link">Saiba Mais </a>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="col-md-4 mb-3">
     <!--## Card 3 ##-->
       <div class="card shadow ml-6" style="width: 18rem;">
         <div class="card-body">
           <div class="row">
             <div class="col-md-6">
               <img class="w-100" src="../assets/imagens/img3.png">
             </div>
             <div class="col-md-6">
               <div class="line mt-1"></div>
               <h5 class="card-title">Lorem ipsum</h5>
             </div>
           </div>
           <div class="row">
             <div class="col-md-12">
               <h6 class="card-subtitle  mt-3 mb-2 text-muted">Donec vitae viverra leo</h6>
               <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o
                 conteúdo do card.</p>
               <a href="#" class="card-link">Saiba Mais </a>
             </div>
           </div>
         </div>
       </div>
     </div>
    </div>
   </div>
</section>
<!--###### Contato ######-->
<section class="section-contato">
  <div class="container">
    <div class="row text-center  justify-content-center">
      <div class="line"></div>
      <h5 class="mt-2">Entrar em Contato</h5>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <img class="w-100" src="../assets/imagens/image16.jpg">
      </div>
      <div class="col-md-6">
        <form  class="bg-light-blue rounded-1 p-3 mt-5">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group ">
                <label for="input1">Nome Completo</label>
                <input type="email" class="input-contato" id="input1" >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group ">
                <label for="input2">Telefone</label>
                <input type="email" class="input-contato" id="input2" >
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group ">
                <label for="input3">Seu Melhor E-mail</label>
                <input type="email" class="input-contato" id="input3" >
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Mensagem</label>
                <textarea class="input-contato h-auto" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>
          </div>
          <a href="#" class="btn credit-btn w-100"> Enviar </a>
        </form>

      </div>
    </div>
  </div>
</section>
<!--###### Novidades ######-->
<section class="section-novidade bg-light-blue">
  <div class="container">
    <h5>Receba Nossas Novidades</h5>
    <div class="row justify-content-center align-content-center mt-5">
     <div class="col-md-8">
       <div class="form-group ">
         <form>
           <input type="email" class="input-contato" placeholder="Seu Melhor E-mail">
           <a href="#" class="btn btn-novidade">Inscrever-se</a>
         </form>
       </div>
     </div>
     <p>Vestibulum auctor auctor leo, id lacinia ligula pharetra vitae.</p>
    </div>
  </div>
</section>
<footer>
  <div class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="copywrite-content d-flex flex-wrap justify-content-center align-items-center">
            <!-- Copywrite Text -->
            <p class="copywrite-text">
              <a href="#"> Lorem ipsum - Copyright &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script> Todos os direitos reservados.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>

<router-outlet></router-outlet>
